body{
    background-color: black;
    
}

.katana{
    width: 400px;
    height: 300px;
    position: fixed;
    filter: brightness(80%);
    top: 30%;
    left: 32%;
    transform: translate(-50%, -50%);
}


.katana {
  width: 300px;
  

  /* стартовое состояние */
  opacity: 0;
  transform: translateY(-100px);

  /* запуск анимации */
  animation: dropFade 3s ease forwards;
}

/* ключевые кадры */
@keyframes dropFade {
  0% {
    opacity: 0;
    transform: translateY(-520px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.text-kanata{
     font-family: "League Script", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 5px 12px rgb(255, 255, 255);
 
  position: fixed;
    top: 38%;
    left: 44%;
  color:white;
  font-size: 59px;
}


.text-kanata
 {
  width: 300px;
  

  /* стартовое состояние */
  opacity: 0;
  transform: translateY(-100px);

  /* запуск анимации */
  animation: fadeRightToLeft 3s ease forwards;
    animation-delay: 1s;
}
@keyframes fadeRightToLeft {
  0% {
    opacity: 0;
    
    transform: translateX(900px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}






.shiwodo-btn {
 margin-top: 10px;
  padding: 10px 40px;

  font-size: 14px;
  font-family: "Georgia", serif;
  letter-spacing: 2px;

  color: white;
  background: transparent;
position: fixed;
    top: 2px;
    left: 92%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 27px;

  cursor: pointer;

  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
}

/* лёгкое свечение при наведении */
.shiwodo-btn:hover {
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

/* эффект "скользящего света" */
.shiwodo-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );

  transition: 0.6s;
}

.shiwodo-btn:hover::before {
  left: 100%;
}

